@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
#header {
  height: 75px;
  width: 100%;
  background: black;
  margin: 0px;
  padding: 0px;
  position: fixed;
  z-index: 80;
  top: 0; }

.header-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header-container a {
  text-decoration: none;
  color: inherit;
  font-size: larger;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.header-container a:hover {
  color: #00a2ff;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.namehome {
  color: #00a2ff;
  margin-right: 23%;
  margin-left: 3%;
  font-size: x-large;
  font-weight: bold; }

.about-me {
  color: white;
  margin-right: 3%; }

.projects {
  color: white;
  margin-right: 3%; }

.music {
  color: white;
  margin-right: 3%; }

.contact {
  color: white; }

.Hamburger {
  position: fixed;
  z-index: 99;
  background-color: white;
  cursor: pointer;
  top: 3vh;
  right: 1rem;
  opacity: 0; }

.Menu {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 90vw;
  height: 50%;
  list-style: none;
  background-color: #00a2ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transform: translateY(-110%);
  transform: translateY(-110%);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.Menu:target {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: translateY(15%);
  transform: translateY(15%); }

.Menu a {
  margin-left: 20vw;
  color: white;
  font-size: x-large;
  text-decoration: none;
  z-index: 100;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.Menu a:hover {
  color: #272525;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.Close {
  position: absolute;
  cursor: pointer;
  color: white;
  top: 1rem;
  right: 1rem;
  z-index: 100; }

@media screen and (max-width: 500px) {
  .about-me,
  .projects,
  .music,
  .contact {
    opacity: 0;
    pointer-events: none; }
  .Hamburger {
    opacity: 1; } }

.aboutmecontainer > *:not(.Selfie, .imagecontainer) {
  display: block;
  margin-top: 15vh;
  margin-left: 20%;
  width: 60vw;
  height: 70vh; }

.imagecontainer {
  position: fixed;
  width: 20%;
  height: auto;
  left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.imagecontainer span {
  color: white;
  width: 100%;
  opacity: 0; }

.Selfie {
  position: relative;
  width: 100%;
  height: auto; }

.click {
  color: white;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  opacity: 0; }

.aboutmetitle {
  color: #00a2ff;
  font-family: "Cinzel", serif;
  font-weight: bolder;
  font-size: xx-large;
  width: 100%;
  text-align: center;
  letter-spacing: -1px; }

.aboutmetext {
  color: white;
  text-align: left;
  font-size: large;
  width: 80%;
  margin: auto; }

.aboutmetext a {
  text-decoration: none; }

@media screen and (max-width: 768px) {
  .aboutmetext {
    margin-top: 10vh; }
  .aboutmecontainer span {
    opacity: 1; }
  .click {
    opacity: 1;
    pointer-events: fill; }
  .imgparent:focus {
    width: 400%;
    height: auto;
    margin-left: 6vw; } }

@media screen and (max-width: 500px) {
  .aboutmetext {
    margin-top: 5vh; } }

.CIContainter {
  width: 60vw;
  height: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #00a2ff;
  margin-left: 20vw;
  margin-top: 15vh; }

.CIHeader {
  color: white;
  height: 30px;
  text-align: center;
  font-size: x-large;
  text-decoration: underline;
  font-weight: bold; }

.CI-Image {
  width: 100%; }

.linkedin {
  width: 50px;
  margin-left: 48vw; }

.linkedinText {
  margin-left: 46.8vw;
  text-decoration: none;
  color: white;
  font-size: large; }

.CV {
  margin-left: 30vw;
  width: 40vw;
  height: 100vh; }

@media screen and (max-width: 768px) {
  .CIContainter, .CV {
    width: 80vw;
    margin-left: 10vw; }
  .CV {
    height: 90vh; } }

@media screen and (max-width: 500px) {
  .CV {
    height: 70vh; } }

.GamesContainer {
  width: 90vw;
  height: 85vh;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 8px;
  column-gap: 8px;
  row-gap: 20px;
  margin-top: 10vh;
  margin-left: 5vw;
  -ms-grid-rows: 5vh 35vh [2];
  grid-template-rows: 5vh repeat(2, 35vh);
  -ms-grid-columns: 1fr [3];
  grid-template-columns: repeat(3, 1fr);
  background-color: #616e75; }

.PText {
  text-align: center;
  color: white;
  font-size: xx-large;
  height: 45px;
  width: 90vw;
  -ms-grid-column: 1;
  grid-column-start: 1;
  grid-column-end: 6;
  background-color: #00a2ff;
  -ms-grid-row: 1;
  grid-row: 1;
  text-decoration: underline;
  font-weight: bold; }

.question {
  position: relative;
  height: 45px;
  width: 45px;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column-start: 3;
  grid-column-end: 3;
  cursor: pointer;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  opacity: 0;
  text-decoration: none;
  color: white; }

.questionPanel {
  position: fixed;
  width: 100%;
  background-color: #00a2ff;
  text-align: center;
  z-index: 91;
  -webkit-transform: translateY(-180%);
  transform: translateY(-180%); }

.questionPanel p {
  color: white; }

.questionPanel h1 {
  color: black; }

.questionPanel .CloseButton {
  text-decoration: none;
  color: black;
  font-size: x-large;
  font-weight: bold; }

.questionPanel:target {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: translateY(-20%);
  transform: translateY(-20%); }

.GameOne,
.GameTwo,
.GameThree,
.GameFour,
.GameFive,
.GameSix {
  position: relative;
  width: 100%;
  background-color: black;
  padding-bottom: 56.25%;
  overflow: hidden;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1.2vh;
  margin-bottom: calc(100% / (16 / 9));
  border-radius: 0.5em;
  overflow: hidden; }

.TUE,
.TD,
.IRT,
.QOTH,
.TLS,
.TTD {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black; }

.TUEImg,
.TDImg,
.IRTImg,
.QOTHImg,
.TLSImg,
.TTDImg {
  max-width: 100%;
  max-height: 100%; }

.TUEOverlay,
.TDOverlay,
.IRTOverlay,
.QOTHOverlay,
.TLSOverlay,
.TTDOverlay {
  position: absolute;
  background: rgba(255, 255, 255, 0.607);
  color: #f1f1f199;
  width: 95%;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  opacity: 0;
  color: black;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  bottom: 0;
  z-index: 2; }

.G1Popup,
.G2Popup,
.G3Popup,
.G4Popup,
.G5Popup,
.G6Popup {
  text-align: center;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50vw;
  position: relative;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out; }

.G1Popup .CloseButton,
.G2Popup .CloseButton,
.G3Popup .CloseButton,
.G4Popup .CloseButton,
.G5Popup .CloseButton,
.G6Popup .CloseButton {
  text-decoration: none;
  color: red;
  font-size: xx-large;
  font-weight: bold; }

.G1Popup h2,
.G2Popup h2,
.G3Popup h2,
.G4Popup h2,
.G5Popup h2,
.G6Popup h2 {
  font-size: xx-large; }

.ProjectOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(109, 98, 98, 0.485);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1; }

.ProjectOverlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 2; }

/*#region GameVariables*/
.GameOne {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2; }

.GameOne:hover .TUEOverlay {
  opacity: 1; }

.GameTwo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3; }

.GameTwo:hover .TDOverlay {
  opacity: 1; }

.GameThree {
  -ms-grid-column: 3;
  grid-column: 3; }

.GameThree:hover .IRTOverlay {
  opacity: 1; }

.GameFour {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  grid-row: 3; }

.GameFour:hover .QOTHOverlay {
  opacity: 1; }

.GameFive {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  grid-row: 3; }

.GameFive:hover .TLSOverlay {
  opacity: 1; }

.GameSix {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 3;
  grid-row: 3; }

.GameSix:hover .TTDOverlay {
  opacity: 1; }

/*#endregion GameVariables*/
/*#region Media 900px*/
@media screen and (max-width: 900px) {
  .question {
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
  .question:hover {
    color: black;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
  .GamesContainer {
    height: auto;
    -ms-grid-rows: 5vh 28vh [3];
    grid-template-rows: 5vh repeat(3, 28vh);
    -ms-grid-columns: 1fr [2];
    grid-template-columns: repeat(2, 1fr); }
  .GameOne {
    grid-row: auto;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2; }
  .GameTwo {
    grid-row: auto;
    -ms-grid-column: 2;
    grid-column: 2; }
  .GameThree {
    grid-row: auto;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2; }
  .GameFour {
    grid-row: auto;
    -ms-grid-column: 2;
    grid-column: 2; }
  .GameFive {
    grid-row: auto;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2; }
  .GameSix {
    grid-row: auto;
    -ms-grid-column: 2;
    grid-column: 2; }
  .GameOne,
  .GameTwo,
  .GameThree,
  .GameFour,
  .GameFive,
  .GameSix {
    margin-left: 6vw; } }

/*#endregion*/
/*#region 500px*/
@media screen and (max-width: 500px) {
  .GamesContainer {
    -webkit-column-gap: 0px;
    column-gap: 0px;
    height: auto;
    -ms-grid-rows: 7vh 28vh [6];
    grid-template-rows: 7vh repeat(6, 28vh);
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 15px; }
  .GameOne {
    grid-row: auto;
    -ms-grid-column: 1;
    grid-column: 1; }
  .GameTwo {
    grid-row: auto;
    -ms-grid-column: 1;
    grid-column: 1; }
  .GameThree {
    grid-row: auto;
    -ms-grid-column: 1;
    grid-column: 1; }
  .GameFour {
    grid-row: auto;
    -ms-grid-column: 1;
    grid-column: 1; }
  .GameFive {
    grid-row: auto;
    -ms-grid-column: 1;
    grid-column: 1; }
  .GameSix {
    grid-row: auto;
    -ms-grid-column: 1;
    grid-column: 1; }
  .questionPanel:target {
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%); }
  .GameOne,
  .GameTwo,
  .GameThree,
  .GameFour,
  .GameFive,
  .GameSix {
    margin-left: 5vw; } }

/*#endregion*/
.MusicContainer {
  width: 90vw;
  height: auto;
  background-color: #616e75;
  margin-top: 10vh;
  margin-left: 5vw;
  display: -ms-grid;
  display: grid;
  row-gap: 25px;
  -ms-grid-rows: 2.2vh 2.2vh 38vh 38vh 2.2vh 38vh;
  grid-template-rows: 2.2vh 2.2vh 38vh 38vh 2.2vh 38vh;
  -ms-grid-columns: 29.83vw [3];
  grid-template-columns: repeat(3, 29.83vw); }

.MText {
  text-align: center;
  color: white;
  font-size: xx-large;
  height: 45px;
  width: 90vw;
  -ms-grid-column: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #00a2ff;
  -ms-grid-row: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  text-decoration: underline;
  font-weight: bold; }

.GMHeader {
  text-align: center;
  color: white;
  font-size: xx-large;
  height: 45px;
  width: 90vw;
  -ms-grid-column: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #00a2ff;
  -ms-grid-row: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  margin-top: 3px; }

.TUEOST,
.IRTOST,
.QOTHOST,
.SGST,
.SFST,
.TOne,
.TTwo,
.TThree {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  overflow: hidden; }

.GameTrackOne {
  -ms-grid-row: 3;
  grid-row-start: 3; }

.GameTrackTwo {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-column: 2;
  grid-column-start: 2; }

.GameTrackThree {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-column: 3;
  grid-column-start: 3; }

.SfinxInternshipTracks {
  -ms-grid-row: 4;
  grid-row-start: 4; }

.SpiritFox {
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-column: 2;
  grid-column-start: 2; }

.MPHeader {
  text-align: center;
  color: white;
  font-size: xx-large;
  height: 45px;
  width: 90vw;
  -ms-grid-column: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #00a2ff;
  -ms-grid-row: 5;
  grid-row-start: 5;
  grid-row-end: 5; }

.TrackOne {
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-column: 1;
  grid-column-start: 1; }

.TrackTwo {
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-column: 2;
  grid-column-start: 2; }

.TrackThree {
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-column: 3;
  grid-column-start: 3; }

@media screen and (max-width: 800px) {
  .MusicContainer {
    height: auto;
    -ms-grid-rows: 2.2vh 2.2vh 45vh [5] 2.2vh 45vh [3];
    grid-template-rows: 2.2vh 2.2vh repeat(5, 45vh) 2.2vh repeat(3, 45vh);
    -ms-grid-columns: 89vw;
    grid-template-columns: 89vw; }
  .GameTrackOne {
    grid-row: auto;
    -ms-grid-column: 1;
    grid-column: 1; }
  .GameTrackTwo {
    grid-row: auto;
    -ms-grid-column: 1;
    grid-column: 1; }
  .GameTrackThree {
    grid-row: auto;
    -ms-grid-column: 1;
    grid-column: 1; }
  .SfinxInternshipTracks {
    grid-row: auto;
    -ms-grid-column: 1;
    grid-column: 1; }
  .SpiritFox {
    grid-row: auto;
    -ms-grid-column: 1;
    grid-column: 1; }
  .MPHeader {
    grid-row: auto; }
  .TrackOne {
    grid-row: auto;
    -ms-grid-column: 1;
    grid-column: 1; }
  .TrackTwo {
    grid-row: auto;
    -ms-grid-column: 1;
    grid-column: 1; }
  .TrackThree {
    grid-row: auto;
    -ms-grid-column: 1;
    grid-column: 1; } }

html {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y proximity;
  scroll-snap-type: y proximity;
  overflow: visible; }

.homeContainer {
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2em;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.container {
  scroll-snap-align: start;
  margin-top: 0px;
  padding-top: 75px;
  position: relative; }

.container .proxBar {
  top: 0px;
  width: 100%;
  height: 1px;
  position: absolute; }

.container > *:not(.proxBar) {
  padding-top: 2rem; }

.introContainer {
  --introHeight: 20em;
  height: 100vh;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  background-color: #00a2ff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.selfie {
  height: 80%;
  width: auto;
  padding-right: 2em; }

.introTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 5vh;
  padding-right: 2em;
  padding-left: 2em; }

.introTextContainer .introHeader {
  color: black;
  font-size: 5em;
  letter-spacing: -1px; }

.introTextContainer .introSubHeader {
  color: white;
  font-size: 2em;
  margin-top: -5vh;
  letter-spacing: 0.3px; }

.introTextContainer .button {
  -ms-flex-item-align: center;
  align-self: center;
  justify-self: center;
  color: white;
  width: 30vw;
  height: 8vw;
  margin-top: 1rem;
  border: none;
  border-radius: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  font-size: auto;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.introTextContainer .button span {
  width: 90%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.3px;
  padding-left: 2em;
  opacity: 1; }

.introTextContainer .button .material-icons {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-right: 2em;
  font-size: 2rem;
  opacity: 1; }

.introTextContainer .button:hover {
  cursor: pointer;
  border: 0.1em solid black;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.introTextContainer .button:hover > * {
  color: black; }

.introTextContainer .aboutMeButton {
  margin-top: 5vh;
  background-color: #00952d; }

.introTextContainer .projectsButton {
  background-color: #008cb3; }

.introTextContainer .musicButton {
  background-color: #b35000; }

.projectsContainer {
  width: 90vw;
  min-height: 100vh;
  height: auto;
  padding-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #008cb3;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-item-align: center;
  align-self: center;
  color: white; }

.projectsContainer > * {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.progProjects {
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  row-gap: 2em; }

.progProjects .button {
  -ms-flex-item-align: center;
  align-self: center;
  justify-self: center;
  color: white;
  width: 15vw;
  height: 8vh;
  margin-top: 1rem;
  border: none;
  border-radius: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  font-size: auto;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #00a2ff;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  margin: 2em; }

.progProjects .button span {
  width: 90%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.3px;
  padding-left: 2em;
  opacity: 1; }

.progProjects .button .material-icons {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-right: 2em;
  font-size: 2rem;
  opacity: 1; }

.progProjects .button:hover {
  cursor: pointer;
  border: 0.1em solid black;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.progProjects .button:hover > * {
  color: black; }

.proj {
  width: 30vw;
  height: calc(30vw / (16/9));
  position: relative;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  text-decoration: none; }

.proj img {
  width: 100%;
  height: 100%;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  background-color: black;
  border-radius: 0.5em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 10; }

.proj figcaption {
  position: relative;
  color: white;
  text-align: center;
  font-size: x-large; }

.proj > * {
  text-decoration: none; }

.proj .hoverBorder {
  width: 10%;
  height: 10%;
  position: absolute;
  background-color: #bff1ff;
  top: 0;
  left: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 0.5em;
  z-index: 5; }

.proj:hover {
  text-decoration: underline;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.proj:hover figcaption {
  color: black; }

.musicContainer {
  height: 100vh;
  width: 90vw;
  padding-top: 2em;
  margin-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #b35000;
  -ms-flex-item-align: center;
  align-self: center;
  color: white; }

.musicContainer > * {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.tracks {
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2em; }

.tracks .button {
  justify-self: center;
  color: white;
  width: 15vw;
  height: 8vh;
  border: none;
  border-radius: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  font-size: auto;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #00a2ff;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  margin: 2em; }

.tracks .button span {
  width: 90%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.3px;
  padding-left: 2em;
  opacity: 1; }

.tracks .button .material-icons {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-right: 2em;
  font-size: 2rem;
  opacity: 1; }

.tracks .button:hover {
  cursor: pointer;
  border: 0.1em solid black;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.tracks .button:hover > * {
  color: black; }

.track {
  width: 20vw;
  height: 20vw;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.song {
  width: 100%;
  height: 100%; }

@media (prefers-reduced-motion: no-preference) {
  .hidden {
    opacity: 0;
    -webkit-transition: all 1.2s;
    transition: all 1.2s; }
  .show {
    opacity: 1; }
  .proj .hoverBorder {
    -webkit-animation: calc(1 * (0.2s)) a_borderOut forwards;
    animation: calc(1 * (0.2s)) a_borderOut forwards; }
  .proj:hover {
    -webkit-transition: calc(2 * (0.2s));
    transition: calc(2 * (0.2s)); }
  .proj:hover img {
    width: 105%;
    height: 105%;
    -webkit-transition: calc(2 * (0.2s));
    transition: calc(2 * (0.2s)); }
  .proj:hover .hoverBorder {
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation: calc(2 * (0.2s)) linear a_borderHeight forwards, calc(1 * (0.2s)) ease-out a_borderWidth forwards;
    animation: calc(2 * (0.2s)) linear a_borderHeight forwards, calc(1 * (0.2s)) ease-out a_borderWidth forwards; }
  @-webkit-keyframes a_borderHeight {
    from {
      height: 10%;
      top: 0; }
    to {
      height: calc(100% + (2 * 5px));
      top: -5px; } }
  @keyframes a_borderHeight {
    from {
      height: 10%;
      top: 0; }
    to {
      height: calc(100% + (2 * 5px));
      top: -5px; } }
  @-webkit-keyframes a_borderWidth {
    0%, 40% {
      width: 10%; }
    from {
      width: 10%;
      left: 0; }
    to {
      width: calc(100% + (2 * 5px));
      left: -5px; } }
  @keyframes a_borderWidth {
    0%, 40% {
      width: 10%; }
    from {
      width: 10%;
      left: 0; }
    to {
      width: calc(100% + (2 * 5px));
      left: -5px; } }
  @-webkit-keyframes a_borderOut {
    0%, 40% {
      width: calc(100% + (2 * 5px)); }
    from {
      width: calc(100% + (2 * 5px));
      height: calc(100% + (2 * 5px));
      top: -5px;
      left: -5px; }
    to {
      width: 10%;
      height: 10%;
      top: 0;
      left: 0; } }
  @keyframes a_borderOut {
    0%, 40% {
      width: calc(100% + (2 * 5px)); }
    from {
      width: calc(100% + (2 * 5px));
      height: calc(100% + (2 * 5px));
      top: -5px;
      left: -5px; }
    to {
      width: 10%;
      height: 10%;
      top: 0;
      left: 0; } } }

@media screen and (max-width: 3841px) {
  .introTextContainer .introHeader {
    font-size: 5rem; }
  .introTextContainer .introSubHeader {
    font-size: 4rem;
    padding-top: 75px; }
  .introTextContainer .button .material-icons {
    margin-right: 2em; }
  .introTextContainer .button span, .introTextContainer .button .material-icons {
    font-size: 3.5rem; }
  .projectsContainer {
    font-size: x-large; }
  .projectsContainer .button span, .projectsContainer .button .material-icons {
    font-size: 3.5rem; }
  .proj figcaption, .proj .material-icons {
    font-size: 2.5rem; }
  .musicContainer {
    font-size: x-large; }
  .musicContainer .button {
    margin-top: -20vh; }
  .musicContainer .button span, .musicContainer .button .material-icons {
    font-size: 3.5rem; } }

@media screen and (max-width: 2560px) {
  .introTextContainer .introHeader {
    margin-top: -5.5rem;
    font-size: 3rem; }
  .introTextContainer .introSubHeader {
    margin-top: -6rem;
    font-size: 2rem; }
  .introTextContainer .button .material-icons {
    margin-right: 10%; }
  .introTextContainer .button span, .introTextContainer .button .material-icons {
    font-size: 1.5rem; }
  .projectsContainer {
    font-size: medium; }
  .projectsContainer .button span, .projectsContainer .button .material-icons {
    font-size: 1.5rem; }
  .proj figcaption, .proj .material-icons {
    font-size: medium; }
  .musicContainer {
    font-size: medium; }
  .musicContainer .button {
    margin-top: -20vh; }
  .musicContainer .button span, .musicContainer .button .material-icons {
    font-size: 1.5rem; } }

@media screen and (max-width: 1280px) {
  .introTextContainer .introHeader {
    margin-top: -5.5rem;
    font-size: 3rem; }
  .introTextContainer .introSubHeader {
    margin-top: -6rem;
    font-size: 2rem; }
  .introTextContainer .button .material-icons {
    margin-right: 10%; }
  .introTextContainer .button span, .introTextContainer .button .material-icons {
    font-size: 1.5rem; }
  .projectsContainer {
    font-size: medium; }
  .projectsContainer .button span, .projectsContainer .button .material-icons {
    font-size: 1.5rem; }
  .proj figcaption, .proj .material-icons {
    font-size: medium; } }

@media screen and (max-width: 1080px) {
  .container {
    width: 100%; }
  .selfie {
    height: 70%; }
  .introTextContainer .introHeader {
    font-size: 2rem; }
  .introTextContainer .introSubHeader {
    margin-top: 0.5em;
    font-size: 1.5rem; }
  .introTextContainer .button {
    width: 20vw;
    height: 8vw; }
  .introTextContainer .button span {
    padding-left: 15px; }
  .introTextContainer .button .material-icons {
    margin-right: 5px; }
  .projectsContainer .button {
    margin-top: 6rem; }
  .proj {
    width: 35vw;
    height: calc(35vw / (16 / 9)); }
  .musicContainer {
    height: auto;
    padding-bottom: 2em; }
  .musicContainer .button {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 30%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  .musicContainer .tracks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    place-content: center; }
  .musicContainer .track {
    width: 30vw;
    height: 30vw; } }

@media screen and (max-width: 811px) {
  .selfie {
    position: absolute;
    top: 24vh;
    right: 2em;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 35%;
    height: auto; }
  .introContainer .introHeader {
    text-align: center; }
  .introContainer .introSubHeader {
    margin-top: -4rem; }
  .introContainer .aboutMeButton {
    padding-top: -10vh; }
  .introContainer .button {
    width: 40vw;
    margin-left: -45vw; }
  .projectsContainer .button {
    margin-top: 8rem; }
  .musicContainer {
    height: 95vh; }
  .musicContainer .button {
    position: absolute;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 30%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    bottom: 0px; }
  .musicContainer .button .material-icons {
    margin-right: 1rem; }
  .musicContainer .tracks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    place-content: center;
    margin-top: -5vh; }
  .musicContainer .track {
    width: 30vw;
    height: 30vw; } }

@media screen and (max-width: 501px) {
  .selfie {
    top: 22vh;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    right: initial;
    margin-left: 7vw; }
  .introContainer {
    padding-top: 0px;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .introContainer .introHeader {
    text-align: center; }
  .introContainer .aboutMeButton {
    margin-top: 30vh; }
  .introContainer .button {
    width: 40vw;
    margin-left: initial; }
  .introContainer .button span, .introContainer .button .material-icons {
    font-size: x-small;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
    overflow: visible;
    opacity: 1; } }

@media screen and (max-width: 361px) {
  .selfie {
    position: absolute;
    right: .1rem;
    bottom: 23.3vh; }
  .introContainer {
    padding-top: 0px; }
  .introContainer .introHeader {
    text-align: center; }
  .introContainer .aboutMeButton {
    margin-top: 10vh; }
  .introContainer .button {
    width: 40vw;
    margin-left: -45vw; }
  .introContainer .button span, .introContainer .button .material-icons {
    font-size: x-small;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
    overflow: visible; }
  .progProjects {
    width: 100%;
    height: auto; }
  .progProjects .button {
    margin-top: 2em; }
  .progProjects .button span, .progProjects .button .material-icons {
    font-size: medium;
    overflow: visible;
    opacity: 1; }
  .proj {
    width: calc((2 * 30vw));
    height: calc((2 * 30vw) / (16/9)); }
  .proj figcaption, .proj .material-icons {
    font-size: small; }
  .musicContainer {
    height: 110vh; }
  .musicContainer .button {
    width: calc((2.5 * 20vw));
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-top: -50vh; }
  .musicContainer .button .material-icons {
    margin-right: 1rem; }
  .musicContainer .button span, .musicContainer .button .material-icons {
    font-size: small;
    opacity: 1; }
  .musicContainer .tracks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    place-content: center;
    margin-top: 20vh;
    width: calc((2.5 * 20vw));
    height: calc((2.5 * 20vw)); }
  .musicContainer .track {
    width: 100%;
    height: 100%; } }

html,
body {
  padding: 0px;
  margin: 0px;
  background-color: #272525; }

/*# sourceMappingURL=Main.css.map */
