@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
#header {
  height: 75px;
  width: 100%;
  background: black;
  margin: 0px;
  padding: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
}

.header-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.header-container a {
  text-decoration: none;
  color: inherit;
  font-size: larger;
}
.header-container a:hover {
  color: #00a2ff;
}

.namehome {
  color: #00a2ff;
  margin-right: 23%;
  margin-left: 3%;
  font-size: x-large;
  font-weight: bold;
}

.about-me {
  color: white;
  margin-right: 3%;
}

.projects {
  color: white;
  margin-right: 3%;
}

.music {
  color: white;
  margin-right: 3%;
}

.contact {
  color: white;
}

.Hamburger {
  position: fixed;
  z-index: 99;
  background-color: white;
  cursor: pointer;
  top: 3vh;
  right: 1rem;
  opacity: 0;
}

.Menu {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 90vw;
  height: 50%;
  list-style: none;
  background-color: #00a2ff;
  display: flex;
  flex-direction: column;
  transform: translateY(-110%);
  justify-content: center;
}
.Menu:target {
  transition: transform 0.2s;
  transform: translateY(15%);
}
.Menu a {
  margin-left: 20vw;
  color: white;
  font-size: x-large;
  text-decoration: none;
  z-index: 100;
}

.Close {
  position: absolute;
  cursor: pointer;
  color: white;
  top: 1rem;
  right: 1rem;
}

@media screen and (max-width: 500px) {
  .about-me,
.projects,
.music,
.contact {
    opacity: 0;
  }
  .Hamburger {
    opacity: 1;
  }
}
.aboutmecontainer > *:not(.Selfie, .imagecontainer) {
  display: grid;
  margin-top: 15vh;
  margin-left: 20%;
  width: 60vw;
  height: 70vh;
  grid-template-columns: auto;
  grid-template-rows: 5% 1fr;
}

.imagecontainer {
  position: fixed;
  width: 20%;
  height: auto;
  left: 2%;
  display: flex;
  flex-direction: column;
}
.imagecontainer span {
  color: white;
  width: 100%;
  opacity: 0;
}

.Selfie {
  position: relative;
  width: 100%;
  height: auto;
}

.click {
  color: white;
  align-self: center;
  opacity: 0;
}

.aboutmetitle {
  color: #00a2ff;
  font-family: "Cinzel", serif;
  font-weight: bolder;
  font-size: xx-large;
  width: 100%;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
}

.aboutmetext {
  color: white;
  text-align: left;
  font-size: large;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  width: 80%;
  margin: auto;
  margin-top: 5vh;
}
.aboutmetext a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .aboutmetext {
    margin-top: 10vh;
  }
  .aboutmecontainer span {
    opacity: 1;
  }
  .click {
    opacity: 1;
    pointer-events: fill;
  }
  .imgparent:focus {
    width: 400%;
    height: auto;
    margin-left: 6vw;
  }
}
@media screen and (max-width: 500px) {
  .aboutmetext {
    margin-top: 10vh;
  }
}
.CIContainter {
  width: 40vw;
  height: 43%;
  display: flex;
  flex-direction: column;
  background-color: #00a2ff;
  margin-left: 30vw;
  margin-top: 20px;
}

.CIHeader {
  color: white;
  height: 30px;
  text-align: center;
  font-size: x-large;
  text-decoration: underline;
  font-weight: bold;
}

.CI-Image {
  width: 100%;
}

.linkedin {
  width: 50px;
  margin-top: 100px;
  padding-left: 48vw;
}

.CV {
  margin-left: 30vw;
  width: 40vw;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .CIContainter, .CV {
    width: 80vw;
    margin-left: 10vw;
  }
  .CV {
    height: 90vh;
  }
}
@media screen and (max-width: 500px) {
  .CV {
    height: 70vh;
  }
}
.GamesContainer {
  width: 90vw;
  height: 85vh;
  display: grid;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin-top: 10vh;
  margin-left: 5vw;
  grid-template-rows: 5vh repeat(2, 35vh);
  grid-template-columns: repeat(3, 1fr);
  background-color: #616e75;
}

.PText {
  text-align: center;
  color: white;
  font-size: xx-large;
  height: 45px;
  width: 90vw;
  grid-column-start: 1;
  grid-column-end: 6;
  background-color: #00a2ff;
  grid-row: 1;
  text-decoration: underline;
  font-weight: bold;
}

.GameOne,
.GameTwo,
.GameThree,
.GameFour,
.GameFive,
.GameSix {
  position: relative;
  width: 100%;
  background-color: black;
  padding-bottom: 56.25%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-bottom: 56.25%;
}

.TUE,
.TD,
.IRT,
.QOTH,
.TLS,
.TTD {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}

.TUEImg,
.TDImg,
.IRTImg,
.QOTHImg,
.TLSImg,
.TTDImg {
  max-width: 100%;
  max-height: 100%;
}

.TUEOverlay,
.TDOverlay,
.IRTOverlay,
.QOTHOverlay,
.TLSOverlay,
.TTDOverlay {
  position: absolute;
  background: rgba(255, 255, 255, 0.607);
  color: rgba(241, 241, 241, 0.6);
  width: 95%;
  transition: 0.6s ease;
  opacity: 0;
  color: black;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  bottom: 0;
  z-index: 2;
}

.G1Popup,
.G2Popup,
.G3Popup,
.G4Popup,
.G5Popup,
.G6Popup {
  text-align: center;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50vw;
  position: relative;
  transition: all 500ms ease-in-out;
}
.G1Popup .CloseButton,
.G2Popup .CloseButton,
.G3Popup .CloseButton,
.G4Popup .CloseButton,
.G5Popup .CloseButton,
.G6Popup .CloseButton {
  text-decoration: none;
  color: red;
  font-size: xx-large;
  font-weight: bold;
}
.G1Popup h2,
.G2Popup h2,
.G3Popup h2,
.G4Popup h2,
.G5Popup h2,
.G6Popup h2 {
  font-size: xx-large;
}

.ProjectOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(109, 98, 98, 0.485);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.ProjectOverlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

/*#region GameVariables*/
.GameOne {
  grid-column: 1/2;
}
.GameOne:hover .TUEOverlay {
  opacity: 1;
}

.GameTwo {
  grid-column: 2/3;
}
.GameTwo:hover .TDOverlay {
  opacity: 1;
}

.GameThree {
  grid-column: 3;
}
.GameThree:hover .IRTOverlay {
  opacity: 1;
}

.GameFour {
  grid-column: 1/2;
  grid-row: 3;
}
.GameFour:hover .QOTHOverlay {
  opacity: 1;
}

.GameFive {
  grid-column: 2/3;
  grid-row: 3;
}
.GameFive:hover .TLSOverlay {
  opacity: 1;
}

.GameSix {
  grid-column: 3;
  grid-row: 3;
}
.GameSix:hover .TTDOverlay {
  opacity: 1;
}

/*#endregion GameVariables*/
/*#region Media 900px*/
@media screen and (max-width: 900px) {
  .GamesContainer {
    height: auto;
    grid-template-rows: 5vh repeat(3, 28vh);
    grid-template-columns: repeat(2, 1fr);
  }
  .GameOne {
    grid-column: 1/2;
    grid-row: 2;
  }
  .GameTwo {
    grid-column: 2;
    grid-row: 2;
  }
  .GameThree {
    grid-column: 1/2;
    grid-row: 3;
  }
  .GameFour {
    grid-column: 2;
    grid-row: 3;
  }
  .GameFive {
    grid-column: 1/2;
    grid-row: 4;
  }
  .GameSix {
    grid-column: 2;
    grid-row: 4;
  }
}
/*#endregion*/
/*#region 500px*/
@media screen and (max-width: 500px) {
  .GamesContainer {
    -moz-column-gap: 0px;
         column-gap: 0px;
    height: auto;
    grid-template-rows: 7vh repeat(6, 28vh);
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
  .GameOne {
    grid-column: 1;
    grid-row: 2;
  }
  .GameTwo {
    grid-column: 1;
    grid-row: 3;
  }
  .GameThree {
    grid-column: 1;
    grid-row: 4;
  }
  .GameFour {
    grid-column: 1;
    grid-row: 5;
  }
  .GameFive {
    grid-column: 1;
    grid-row: 6;
  }
  .GameSix {
    grid-column: 1;
    grid-row: 7;
  }
}
/*#endregion*/
.MusicContainer {
  width: 90vw;
  height: 95vh;
  background-color: #616e75;
  margin-top: 10vh;
  margin-left: 4vw;
  display: grid;
  row-gap: 25px;
  -moz-column-gap: 5;
       column-gap: 5;
  grid-template-rows: 2.2vh 2.2vh 38vh 2.2vh 38vh;
  grid-template-columns: repeat(3, 29.83vw);
}

.MText {
  text-align: center;
  color: white;
  font-size: xx-large;
  height: 45px;
  width: 90vw;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #00a2ff;
  grid-row-start: 1;
  grid-row-end: 1;
  text-decoration: underline;
  font-weight: bold;
}

.GMHeader {
  text-align: center;
  color: white;
  font-size: xx-large;
  height: 45px;
  width: 90vw;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #00a2ff;
  grid-row-start: 2;
  grid-row-end: 2;
  margin-top: 3px;
}

.TUEOST,
.IRTOST,
.QOTHOST,
.TOne,
.TTwo,
.TThree {
  width: 100%;
  height: 100%;
}

.GameTrackOne {
  grid-row-start: 3;
}

.GameTrackTwo {
  grid-row-start: 3;
  grid-column-start: 2;
}

.GameTrackThree {
  grid-row-start: 3;
  grid-column-start: 3;
}

.MPHeader {
  text-align: center;
  color: white;
  font-size: xx-large;
  height: 45px;
  width: 90vw;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #00a2ff;
  grid-row-start: 4;
  grid-row-end: 4;
}

.TrackOne {
  grid-row-start: 5;
  grid-column-start: 1;
}

.TrackTwo {
  grid-row-start: 5;
  grid-column-start: 2;
}

.TrackThree {
  grid-row-start: 5;
  grid-column-start: 3;
}

@media screen and (max-width: 800px) {
  .MusicContainer {
    height: auto;
    grid-template-rows: 2.2vh 2.2vh repeat(3, 45vh) 2.2vh repeat(3, 45vh);
    grid-template-columns: 89vw;
  }
  .GameTrackOne {
    grid-row: 3;
    grid-column: 1;
  }
  .GameTrackTwo {
    grid-row: 4;
    grid-column: 1;
  }
  .GameTrackThree {
    grid-row: 5;
    grid-column: 1;
  }
  .MPHeader {
    grid-row: 6;
  }
  .TrackOne {
    grid-row: 7;
    grid-column: 1;
  }
  .TrackTwo {
    grid-row: 8;
    grid-column: 1;
  }
  .TrackThree {
    grid-row: 9;
    grid-column: 1;
  }
}
.PageContainer {
  display: grid;
  gap: 2%;
  margin-top: 15vh;
  margin-left: 20vw;
  position: absolute;
  width: 60vw;
  height: 70vh;
  align-items: center;
  grid-template-columns: repeat(2, 47.5%);
  grid-template-rows: repeat(2, 47.5%);
}

.AMC {
  width: 100%;
  height: 100%;
  background-color: #616e75;
  position: relative;
}
.AMC span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: x-large;
}

.PJC {
  width: 100%;
  height: 100%;
  position: relative;
}
.PJC span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: x-large;
}

.MC {
  width: 100%;
  height: 100%;
  position: relative;
}
.MC span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: x-large;
}

.CCVC {
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
}
.CCVC span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: x-large;
}

.MusicImg,
.ProjectImg,
.ABMImg,
.CCVCImage {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .PageContainer {
    margin-left: 35vw;
    grid-template-columns: 47.5%;
    grid-template-rows: repeat(4, auto);
  }
}
html,
body {
  padding: 0px;
  margin: 0px;
  background-color: #272525;
}/*# sourceMappingURL=Main.css.map */