.aboutmecontainer>*:not(.Selfie, .imagecontainer) {
    display: block;
    margin-top: 15vh;
    margin-left: 20%;
    width: 60vw;
    height: 70vh;
}

.imagecontainer {
    position: fixed;
    width: 20%;
    height: auto;
    left: 2%;
    display: flex;
    flex-direction: column;

    span {
        color: white;
        width: 100%;
        opacity: 0;
    }
}

.Selfie {
    position: relative;
    width: 100%;
    height: auto;
}

.click {
    color: white;
    align-self: center;
    opacity: 0;
}

.aboutmetitle {
    color: $CalmBlue;
    font-family: $Cinzel;
    font-weight: bolder;
    font-size: xx-large;
    width: 100%;
    text-align: center;
    letter-spacing: $h_letterSpacing;
}

.aboutmetext {
    color: white;
    text-align: left;
    font-size: large;
    width: 80%;
    margin: auto;

    a {
        text-decoration: none;
    }

}

@media screen and (max-width: 768px) {
    .aboutmetext {
        margin-top: 10vh;
    }

    .aboutmecontainer {
        span {
            opacity: 1;
        }
    }

    .click {
        opacity: 1;
        pointer-events: fill;
    }

    .imgparent {
        &:focus {
            width: 400%;
            height: auto;
            margin-left: 6vw;
        }
    }



}

@media screen and (max-width: 500px) {

    .aboutmetext {
        margin-top: 5vh;
    }
}
