.CIContainter {
    width: 60vw;
    height: 43%;
    display: flex;
    flex-direction: column;
    background-color: $CalmBlue;
    margin-left: 20vw;
    margin-top: 15vh;
}

.CIHeader {
    color: white;
    height: 30px;
    text-align: center;
    font-size: x-large;
    text-decoration: underline;
    font-weight: bold;
}

.CI-Image {
    width: 100%;
}

.linkedin {
    width: 50px;
    margin-left: 48vw;
}

.linkedinText{
    margin-left: 46.8vw;
    text-decoration: none;
    color: white;
    font-size: large;
}

.CV {
    margin-left: 30vw;
    width: 40vw;
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .CIContainter,.CV{
        width: 80vw;
        margin-left: 10vw;
    }

    .CV{
        height: 90vh;
    }
    
}

@media screen and (max-width: 500px) {
 .CV{
    height: 70vh;
 }   
}