.homeContainer{
    padding-top:75px;
    height: 120em;
    display:flex;
    flex-direction: column;
}

.introContainer{
    height: 40em;
    width: 80em;
    display: flex;
    flex-direction: row-reverse;
    background-color:$CustomGrey;
    justify-content: center;
    align-content:center;
    border-radius: 2em;
    &>*{
        padding-top: 4em;
    }
}

.selfie{
    height: 80%;
    width: auto;
}

.introTextContainer{
    display: flex;
    flex-direction: column;

    .introHeader, .introSubHeader{
        color: $CalmBlue
    }
}
