$gapSize:2em;
$windowHeight:100vh;
$windowWidth:90vw;
$projWidth: 30vw;
$trackWidth: 20vw;
$hBorderSize: 5px;

html{
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    overflow: visible;
}

.homeContainer{
    padding-top:75px;
    display:flex;
    flex-direction: column;
    gap: $gapSize;
    align-content: center;
    align-items: center;
}

.container{
    scroll-snap-align: start;
    margin-top: 0px;
    padding-top: 25px;
    position: relative;

    .proxBar{
        top: 0px;
        width: 100%;
        height: 1px;
        position: absolute;
    }

    &>*:not(.proxBar){
        padding-top: 2rem;
    }
}

.introContainer{
    --introHeight: 20em;
    height: $windowHeight;
    width: $windowWidth; 
    display: flex;
    flex-direction: column;
    background-color: $primary;
    justify-content: center;
    align-content:center;
    place-content: center;

    .contentWrapper{
        display: flex;
        flex-direction: row-reverse;
        gap: 8rem;
        width: 80%;
        height: 50%;
        justify-self: center;
        align-self: center;
        justify-content: center;
        align-content: center;

        .buttonWrapper{
            align-content: center;
            justify-content: center;
            width: 15vw;

            .button{
                align-self: center;
                justify-self: center;
                color: white;
                width: 15vw;
                height: 4vw;
                margin-top: 1rem;
                border: none;
                border-radius: 0.5em;
                display: flex;
                flex-direction: row;
                text-align: left;
                font-weight: bold;
                text-decoration: none;
                font-size: auto;
                transition: all $animTime;

                span{
                    width: 90%;
                    align-self: center;
                    text-align: center;
                    font-size: 1.5rem;
                    letter-spacing: $p_letterSpacing;
                    padding-left: $gapSize;
                    opacity: 1;
                }

                .material-icons{
                    align-self: center;
                    margin-right: $gapSize;
                    font-size: 1.5rem;
                    opacity: 1;
                }

                &:hover{
                    cursor: pointer;
                    border: 0.1em solid black;
                    transition: all $animTime;

                    &>*{
                        color: black;
                    }
                }
            }

            .aboutMeButton{
                margin-top: 15vh;
                background-color: $quaternary;
            }

            .projectsButton{
                background-color: $secondary;
            }

            .musicButton{
                background-color: $quinary;
            }
        }

        .selfie{
            aspect-ratio: 3 / 4;
            height: 50vh;
            width: auto;
        }
    }
}

.introTextContainer{
    display: flex;
    flex-direction: column;
    margin-top: -10vh;
    padding-right: $gapSize;
    padding-left: $gapSize;

    .introHeader{
        color: black;
        font-size: 5em;
        letter-spacing: $h_letterSpacing;
        align-self: center;
    }

    .introSubHeader{
        color: white;
        font-size: 2em;
        margin-top: -5vh;
        letter-spacing: $p_letterSpacing;
        align-self: center;
        text-align: center;
    }

}

.projectsContainer{
    width: $windowWidth; 
    min-height: $windowHeight;
    height: auto;
    padding-top: $gapSize;
    display: flex;
    flex-direction: column;
    background-color: $secondary;
    align-content:center;
    align-self: center;
    color: white;

    &>*{
        align-self:center;
    }
}

.progProjects{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: $gapSize;

    .button{
        align-self: center;
        justify-self: center;
        color: white;
        width: 15vw;
        height: 8vh;
        margin-top: 1rem;
        border: none;
        border-radius: 0.5em;
        display: flex;
        flex-direction: row;
        text-align: left;
        font-weight: bold;
        text-decoration: none;
        font-size: auto;
        transition: all $animTime;
        background-color: $primary;
        flex-basis: 50%;
        margin: $gapSize;

        span{
            width: 90%;
            align-self: center;
            text-align: center;
            font-size: 2rem;
            letter-spacing: $p_letterSpacing;
            padding-left: $gapSize;
            opacity: 1;
        }

        .material-icons{
            align-self: center;
            margin-right: $gapSize;
            font-size: 2rem;
            opacity: 1;
        }

        &:hover{
            cursor: pointer;
            border: 0.1em solid black;
            transition: all $animTime;

            &>*{
                color: black;
            }
        }
    }
}

.proj{
    width: $projWidth;
    height: calc(#{$projWidth} / (16/9));
    position: relative;
    animation-direction: normal;
    text-decoration: none;

    img{
        width: 100%;
        height: 100%;
        position: relative;
        object-fit: cover;
        background-color: black;
        border-radius: $cornerRadius;
        transition: $animTime;
        z-index: 10;
    }

    figcaption{
        position: relative;
        color: white;
        text-align: center;
        font-size: x-large;
    }

    &>*{
        text-decoration: none;
    }

    .hoverBorder{
        width: 10%;
        height: 10%;
        position: absolute;
        background-color: $tertiary;
        top: 0;
        left: 0;
        transition: $animTime;
        border-radius: $cornerRadius;
        z-index: 5;
    }

    &:hover{
        figcaption{
            color: black;
        }

        text-decoration: underline;
        transition: $animTime;
    }
}

.musicContainer{
    height: $windowHeight;
    width: $windowWidth; 
    padding-top: $gapSize;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    background-color: $quinary;
    align-self: center;
    color: white;

    &>*{
        align-self:center;
    }
}

.tracks{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gapSize;

    .button{
        justify-self: center;
        color: white;
        width: 15vw;
        height: 8vh;
        border: none;
        border-radius: 0.5em;
        display: flex;
        flex-direction: row;
        text-align: left;
        font-weight: bold;
        text-decoration: none;
        font-size: auto;
        transition: all $animTime;
        background-color: $primary;
        flex-basis: 50%;
        margin: $gapSize;

        span{
            width: 90%;
            align-self: center;
            text-align: center;
            font-size: 2rem;
            letter-spacing: $p_letterSpacing;
            padding-left: $gapSize;
            opacity: 1;
        }

        .material-icons{
            align-self: center;
            margin-right: $gapSize;
            font-size: 2rem;
            opacity: 1;
        }

        &:hover{
            cursor: pointer;
            border: 0.1em solid black;
            transition: all $animTime;

            &>*{
                color: black;
            }
        }
    }
}

.track{
    width: $trackWidth;
    height: $trackWidth;
    flex-shrink: 0;
}

.song{
    width: 100%;
    height: 100%;
}

@media(prefers-reduced-motion: no-preference){
    .hidden{
        opacity: 0;
        transition:all $fadeTime;
    }

    .show{  
        opacity: 1;
    }

    .proj {
        .hoverBorder{
            animation: calc(1 * (#{$animTime})) a_borderOut forwards;
        } 

        &:hover{
            transition: calc(2 * (#{$animTime}));
            // width: calc(#{$projWidth} * 1.1);
            // height: calc(#{$projWidth} * 1.1 / (16/9));
            img{
                width: 105%;
                height: 105%;
                transition: calc(2 * (#{$animTime}));
            }

            .hoverBorder{
                animation-direction: normal;
                animation: calc(2 * (#{$animTime})) linear a_borderHeight forwards, 
                    calc(1 * (#{$animTime})) ease-out a_borderWidth forwards;
            }
        }
    }
    @keyframes a_borderHeight{
    from {
        height: 10%;
        top: 0;
    }

    to {
        height: calc(100% + (2 * #{$hBorderSize}));
        top: -$hBorderSize;
    }
    }

    @keyframes a_borderWidth{
    0%, 40%{
        width: 10%;
    }

    from {
        width: 10%;
        left: 0;
    }

    to {
        width: calc(100% + (2 * #{$hBorderSize}));
        left: -$hBorderSize;
    }
    }

    @keyframes a_borderOut{
    0%, 40%{
        width: calc(100% + (2 * #{$hBorderSize}));
    }

    from{
        width: calc(100% + (2 * #{$hBorderSize}));
        height: calc(100% + (2 * #{$hBorderSize}));
        top: -$hBorderSize;
        left: -$hBorderSize;
    }

    to{
        width: 10%;
        height: 10%;
        top: 0;
        left: 0;
    }
    }
}

@media screen and (max-width: 3841px) {
    .introTextContainer{
        .introHeader{
            font-size: 5rem;
        }

        .introSubHeader{
            font-size: 4rem;
            padding-top: 75px;
        }

        .button{
            .material-icons{
                margin-right: $gapSize;
            }
            span, .material-icons{
                font-size: 3.5rem;
            }
        }
    }
    .projectsContainer{
        font-size: x-large;
        .button{
            span, .material-icons{
                font-size: 3.5rem
            }
        }
    }

    .proj{
        figcaption, .material-icons{
            font-size: 2.5rem;
        }
    }

    .musicContainer{
        font-size: x-large;

        .button{
            margin-top: -20vh;
            span, .material-icons{
                font-size: 3.5rem
            }
        }
    }
}

@media screen and (max-width: 2560px) {
    .introTextContainer{
        .introHeader{
            margin-top: -5.5rem;
            font-size: 3rem;
        }

        .introSubHeader{
            margin-top: -6rem;
            font-size: 2rem;
        }

        .button{
            .material-icons{
                margin-right: 10%;
            }
            span, .material-icons{
                font-size: 1.5rem;
            }
        }
    }

    .projectsContainer{
        font-size: medium;
        .button{
            span, .material-icons{
                font-size: 1.5rem
            }
        }
    }

    .proj{
        figcaption, .material-icons{
            font-size: medium;
        }
    }

    .musicContainer{
        font-size: medium;

        .button{
            margin-top: -20vh;
            span, .material-icons{
                font-size: 1.5rem
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .introTextContainer{
        .introHeader{
            margin-top: -5.5rem;
            font-size: 3rem;
        }

        .introSubHeader{
            margin-top: -6rem;
            font-size: 2rem;
        }

        .button{
            .material-icons{
                margin-right: 10%;
            }
            span, .material-icons{
                font-size: 1.5rem;
            }
        }
    }

    .projectsContainer{
        font-size: medium;
        .button{
            span, .material-icons{
                font-size: 1.5rem
            }
        }
    }

    .proj{
        figcaption, .material-icons{
            font-size: medium;
        }
    }
}


@media screen and (max-width: 1080px) {
    .container{
        width: 100%;
    }

    .selfie{
        height: 70%;
    }

    .introTextContainer{
        .introHeader{
            font-size: 2rem;
        }

        .introSubHeader{
            margin-top: 0.5em;
            font-size: 1.5rem;
        }

        .button{
            width: 20vw;
            height: 8vw;
            span{
                padding-left: 15px;
            }

            .material-icons{
                margin-right: 5px;
            }
        }
    }

    .projectsContainer{
        .button{
            margin-top: 6rem;
        }
    }

    .proj{
        width: 35vw;
        height: calc(35vw / (16 / 9));
    }

    .musicContainer{
        height: auto;
        .button{
            flex-basis: 100%;
            width: 30%;
            align-self: center;
        }

        .tracks{
            flex-direction: row;
            place-content: center;
        }

        .track{
            width: 100%;
            height: 30vw;
        }
        padding-bottom: $gapSize;
    }
}

@media screen and (max-width: 811px) {
    // .selfie{
    //     position: absolute;
    //     top: 24vh;
    //     right: $gapSize;
    //     align-self: center;
    //     width: 35%;
    //     height: auto;
    // }

    .introContainer{
        .introHeader{
            text-align: center;
        }
        .introSubHeader{
            margin-top: -4rem;
        }

        .contentWrapper{
            width: 100%;

            .buttonWrapper{
                justify-self: center;

                .button{
                    width: 40vw;
                    height: 4rem;
                }
            }

            .selfie{
                height: 30vh;
                align-self: center;
                margin-left: 8rem;
            }
        }

    }

    .projectsContainer{
        .button{
            margin-top: 8rem;
        }
    }

    .musicContainer{
        height: 95vh;
        .button{
            position: absolute;
            flex-basis: 100%;
            width: 30%;
            align-self: center;
            bottom: 0px;

            .material-icons{
                margin-right: 1rem; 
            }
        }


        .tracks{
            place-content: center;
            margin-top: -5vh;
        }
    }
}

@media screen and (max-width: 541px) {
    .introContainer{
        .introHeader{
            // margin-top: 75px;
        }

        .contentWrapper{
            flex-direction: column;
            gap: 0px;

            .buttonWrapper{
                align-self: center;
                justify-self: center;
                margin-right: 25vw;

                .button{
                    span, .material-icons{
                        font-size: 1rem;
                    }
                }
            }

            .selfie{
                margin-left: 0px;
                // margin-top: -50vh;
                top: 5rem;
                height: 15rem; 
            }
        }
    }

    .proj{
        figcaption{
            width: 200%;
            margin-left: -50%;
        }
    }
}

@media screen and (max-width: 501px){
    .selfie{
        top: 40vh;
        align-self: center;
        right: initial;
        margin-left: 7vw;
    }

    .introContainer{
        padding-top: 75px;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        .introHeader{
            text-align: center;
        }
    }

    .projectsContainer{
        .button{
            span, .material-icons{
                padding-left: 5%;
            }
        }
    }

    .musicContainer{
        height: calc(#{$windowHeight} * 1.5);

        .button{
            span, .material-icons{
                padding-left: 5%;
                align-self: center;
            }
        }

        .tracks{
            padding-top: 0px;
        }

        .track{
            height: 20rem;
        }
    }
}

@media screen and (max-width: 361px) {
    .selfie{
        position: absolute;
        right: .1rem;
        top: 58vh
    }

    .introContainer{
        padding-top: 0px;
        .introHeader{
            text-align: center;
        }

        .aboutMeButton{
            margin-top: 10vh;
        }

        .button{
            width: 40vw;
            margin-left: -45vw;

            span, .material-icons{
                font-size: x-small;
                align-self: center;
                justify-self: center;
                overflow: visible;
            }
        }
    }

    .progProjects{
        width: 100%;
        height: auto;

        .button{
            margin-top: $gapSize;

            span, .material-icons{
                font-size: medium;
                overflow: visible;
                opacity: 1;
            }
        }
    }

    .proj{
        width: calc((2 * #{$projWidth}));
        height: calc((2 * #{$projWidth}) / (16/9));
        figcaption, .material-icons{
            font-size: small;
        }
    }

    .musicContainer{
        height: 110vh;
        .button{
            width: calc((2.5 * #{$trackWidth}));
            align-self: center;
            margin-top: -50vh;

            .material-icons{
                margin-right: 1rem; 
            }

            span, .material-icons{
                font-size: small;
                opacity: 1;
            }
        }

        .tracks{
            flex-direction: row;
            place-content: center;
            margin-top: 20vh;
            width: calc((2.5 * #{$trackWidth}));
            height: calc((2.5 * #{$trackWidth}));
        }

        // .track{
        //     width: 100%;
        //     height: 100%;
        // }
    }
}
