.MusicContainer {
    width: 90vw;
    height: 95vh;
    background-color: $CustomGrey;
    margin-top: 10vh;
    margin-left: 4vw;
    display: grid;
    row-gap: 25px;
    column-gap: 5;
    grid-template-rows: 2.2vh 2.2vh 38vh 2.2vh 38vh;
    grid-template-columns: repeat(3, 29.83vw);
}

.MText {
    text-align: center;
    color: white;
    font-size: xx-large;
    height: 45px;
    width: 90vw;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: $CalmBlue;
    grid-row-start: 1;
    grid-row-end: 1;
    text-decoration: underline;
    font-weight: bold;
}

.GMHeader {
    text-align: center;
    color: white;
    font-size: xx-large;
    height: 45px;
    width: 90vw;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: $CalmBlue;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-top: 3px;
}

.TUEOST,
.IRTOST,
.QOTHOST,
.TOne,
.TTwo,
.TThree {
    width: 100%;
    height: 100%;
}

.GameTrackOne {
    grid-row-start: 3;
}

.GameTrackTwo {
    grid-row-start: 3;
    grid-column-start: 2;
}

.GameTrackThree {
    grid-row-start: 3;
    grid-column-start: 3;
}

.MPHeader {
    text-align: center;
    color: white;
    font-size: xx-large;
    height: 45px;
    width: 90vw;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: $CalmBlue;
    grid-row-start: 4;
    grid-row-end: 4;
}

.TrackOne {
    grid-row-start: 5;
    grid-column-start: 1;
}

.TrackTwo {
    grid-row-start: 5;
    grid-column-start: 2;
}

.TrackThree {
    grid-row-start: 5;
    grid-column-start: 3;
}

@media screen and (max-width:800px) {
    .MusicContainer {
        height: auto;
        grid-template-rows: 2.2vh 2.2vh repeat(3, 38vh) 2.2vh repeat(3, 38vh);
        grid-template-columns: 89vw;
    }

    .GameTrackOne {
        grid-row: 3;
        grid-column: 1;
    }

    .GameTrackTwo {
        grid-row: 4;
        grid-column: 1;
    }

    .GameTrackThree {
        grid-row: 5;
        grid-column: 1;
    }

    .MPHeader {
        grid-row: 6;
    }

    .TrackOne {
        grid-row: 7;
        grid-column: 1;
    }

    .TrackTwo {
        grid-row: 8;
        grid-column: 1;
    }

    .TrackThree {
        grid-row: 9;
        grid-column: 1;
    }
}