$projectWidth: 25vw;
$zoomMulti: 1.1;

.GamesContainer {
    width: 90vw;
    height: 100% auto;
    display: flex;
    background-color: $primary;
    margin: 0 auto;
    margin-top: 56px;
    padding-bottom: 50px;

    h1{
        font-family: $headerFont;
        color: white;
        position: absolute;
        width: 90vw;
        text-align: center;
        top: 60px;
        z-index: 50;
    }

    .contentContainer{
        width: auto;
        height: 80vh auto;
        margin: 0 auto;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        .Game{
            width: 100%;
            height: calc(#{$projectWidth} / (16 / 9));
            border-radius: $cornerRadius;
            border: 0.1em solid black;
            overflow: hidden;
            transition: $animTime;
            box-shadow: $dropShadow;

            &:hover{
                border: 0.1em solid white;
                transition: $animTime;
                scale: $zoomMulti;
            }

            .content{
                transition: $animTime;
                display: flex;
                flex-direction: row;
                background-color: $secondary;
                width: 100%;
                height: 100%;

                &:hover{
                    background-color: $quaternary;
                }

                pointer-events: auto;

                a{
                    width: calc(2 * #{projectWidth});
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    text-decoration: none;
                    &:hover{
                        .description{
                            color: black;
                            transition: $animTime;
                            h2{
                                color: white;
                                transition: $animTime;
                            }
                        }
                    }
                }

                .description{
                    width: auto;
                    height: 90%;
                    margin-top: calc(#{$projectWidth} / (16 / 9) / 3);
                    color: white;
                    display: inline;
                    font-family: $textFont;
                    letter-spacing: $p_letterSpacing;
                    transition: $animTime;
                    overflow: hidden;

                    h2{
                        font-family: $titleFont;
                        margin: 0;
                        color: black;
                        transition: $animTime;
                        letter-spacing: $h_letterSpacing;
                    }
                }


                .image{
                    background-color: black;
                    width: $projectWidth;
                    height: calc(#{$projectWidth} / (16 / 9));
                    object-fit: cover;
                    transition: $animTime;
                    border-radius: 0 $cornerRadius $cornerRadius 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
.GamesContainer{
        .contentContainer{
            .Game{
                width: 95%;
                height: calc(1.5 * #{$projectWidth} / (16 / 9));
                align-self: center;

                .content{
                    height: 100%;
                    .description{
                        width: clamp(20vw, auto, 50vw);
                        font-size: 2.2vmin;
                        margin-top: calc(#{$projectWidth} / (16 / 9) / 6);
                    }

                    .image{
                        width: calc(1.5 * #{$projectWidth});
                        height: calc(1.5 * #{$projectWidth} / (16 / 9));
                        flex-shrink: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px){
.GamesContainer{
        .contentContainer{
            .Game{
                height: calc(2 * #{$projectWidth} / (16 / 9));
                align-self: center;

                .content{
                    height: 100%;
                    // height: clamp(2 * #{$projectWidth} / (16 / 9), 100%, 100%);
                    .description{
                        width: clamp(20vw, auto, 50vw);
                        font-size: 2.2vmin;
                        margin-top: calc(#{$projectWidth} / (16 / 9) / 6);
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .image{
                        width: calc(2 * #{$projectWidth});
                        height: calc(2 * #{$projectWidth} / (16 / 9));
                        flex-shrink: 0;
                    }
                }
            }
        }
    }
}
