@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$titleFont: 'Cinzel', serif; //Titles
$textFont: 'Playfair Display', serif; //Text
$headerFont: 'Dela Gothic One', cursive; //Headers
