$DarkModeColor: #272525;
$beigeColor: #9CE4C8;
$BorderGrey: #707070;
$CalmBlue: #00a2ff;
$CustomGrey: #616e75;
$PopupBackground: rgba(109, 98, 98, 0.485);

$cornerRadius: 0.5em;

$animTime:0.2s;

