$DarkModeColor: #272525;
$beigeColor: #9CE4C8;
$BorderGrey: #707070;
$CalmBlue: #00a2ff;
$CustomGrey: #616e75;
$PopupBackground: rgba(109, 98, 98, 0.485);

$primary: #00a2ff;
$secondary: #008cb3;
$tertiary: #bff1ff;
$quaternary: #00952d;
$quinary: #b35000;

$cornerRadius: 0.5em;

$animTime: 0.2s;
$fadeTime: 1.2s;

$h_letterSpacing: -1px;
$h_lineSpacing: .2rem;
$p_letterSpacing: .3px;
$p_lineSpacing: .1rem;
